html {
	height: 100%;
}

body {
	font-family: 'Open Sans';
	color: white;
	min-height: 100%;
	background-image: -webkit-radial-gradient( #2b1339, #380c77);
  	background-image: radial-gradient( #2b1339, #380c77);  
}

body.landing .navbar {
	margin-bottom: 0;
}

// Enable Open Sans - Local Dev Only 

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Light-webfont.eot');
	src: url('../fonts/OpenSans-Light-webfont?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-Light-webfont.svg#DroidSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* medium-purple: #7B46A3 - 123, 70, 163 */

.player-header-nav {
	background-color: rgba(123, 70, 163, .9);
}

.hero-content {
	background: #2F1D57;
	padding: 100px 0;
}

.selling-points {
	padding: 100px 0;
}

.album-header-container {
	margin-top: 55px;
	margin-bottom: 40px;
}

.album-header-information {
	margin-top: 45px;
	margin-bottom: 20px;
}

.album-header-information h3, .album-header-information h4, .album-header-information h5 {
	line-height: 150%;
}

.album-header-information h3 {
	font-size: 48px;
	font-weight: 300;
}

.album-header-information h4 {
	font-size: 24px;
	font-weight: 700;
}

.album-header-information h5 {
	font-size: 15px;
	font-weight: 500;
}

.table.album-song-listing{ 
	font-weight: 300;
}

.table.album-song-listing td {
	padding: 20px;
	border-top: 1px solid rgba(255, 255, 255, .4);
}

.collection-album-container {
	margin-top: 30px;
	margin-bottom: 20px;
}

.collection-album-container .caption {
	margin-top: 10px;
}

.collection-album-container .caption p {
	font-size: 16px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.6);
}

.collection-album-container p a {
	color: rgba(255, 255, 255, 0.6);
}

.collection-album-container .caption p a.album-name {
	color: white;
}

.collection-album-container img {
	max-width: 100%;
}

.collection-album-container .collection-album-image-container {
	position: relative;
}

.collection-album-container .collection-album-image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 10;
}

.collection-album-container .collection-overlay-content {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

.collection-album-container .collection-overlay-button {
	font-size: 20px;
	background-color: white;
	color: #d2287b;
	border-radius: 50% 50%;
	display: inline-block;
	width: 42px;
	height: 42px;
}

.collection-album-container .collection-overlay-button:hover {
	cursor: pointer;
	color: white;
	background-color: #d2287b;
}	

.collection-album-container .collection-overlay-button i {
	line-height: 42px;
}

.collection-album-container .collection-overlay-button .fa-play {
	padding-left: 5px;
}
